header {
  width: 100vw;
  height: auto;
  position: sticky;
  top: 0;
  border-bottom: 0.3vw #474444 solid;
  background: #ffffff;
}
header div,
header nav {
  display: inline-block;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
header div a,
header nav a {
  color: #474444;
  text-decoration: none;
  font-size: 2vw;
  margin: 2vw;
  font-weight: bold;
  transition: 0.3s all;
}
header div a img,
header nav a img {
  height: 6vw;
  width: auto;
}
header div a:hover,
header nav a:hover {
  color: #c0b0b1;
  transition: 0.1s all;
  text-decoration: underline;
}
header nav {
  float: right;
  padding-top: 2.5vh;
}

#assurances {
  width: 80vw;
  margin: auto;
  margin-top: 5vh;
  padding: 4vh 4vw;
  color: #474444;
  text-align: center;
}
#assurances div {
  display: inline-block;
  margin: 2vw;
  background-color: #ffffff;
  width: 10vw;
  height: 10vw;
  border-radius: 1vw;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  padding: auto;
  transition: 0.6s all;
}
#assurances .rca {
  background-image: url("../img/RCAbtn.png");
  background-attachment: contain;
  background-repeat: no-repeat;
  padding: 2vw 0;
  background-size: cover;
}
#assurances .rca p {
  opacity: 0;
}
#assurances .casco {
  background-image: url("../img/cascobtn.png");
  background-attachment: contain;
  background-repeat: no-repeat;
  padding: 2vw 0;
  background-size: cover;
}
#assurances .casco p {
  opacity: 0;
}
#assurances .home {
  background-image: url("../img/homebtn.png");
  background-attachment: contain;
  background-repeat: no-repeat;
  padding: 2vw 0;
  background-size: cover;
}
#assurances .home p {
  opacity: 0;
}
#assurances .life {
  background-image: url("../img/lifebtn.png");
  background-attachment: contain;
  background-repeat: no-repeat;
  padding: 2vw 0;
  background-size: cover;
}
#assurances .life p {
  opacity: 0;
}
#assurances .health {
  background-image: url("../img/healthbtn.png");
  background-attachment: contain;
  background-repeat: no-repeat;
  padding: 2vw 0;
  background-size: cover;
}
#assurances .health p {
  opacity: 0;
}
#assurances .travel {
  background-image: url("../img/travelbtn.png");
  background-attachment: contain;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2vw 0;
}
#assurances .travel p {
  opacity: 0;
}
#assurances .cmr {
  background-image: url("../img/cmrbtn.png");
  background-attachment: contain;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2vw 0;
}
#assurances .cmr p {
  opacity: 0;
}
#assurances .malpraxis {
  background-image: url("../img/malpraxisbtn.png");
  background-attachment: contain;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2vw 0;
}
#assurances .malpraxis p {
  opacity: 0;
}
#assurances div:hover {
  transition: 0.1s all;
  background-color: #c0b0b1;
  color: #ffffff;
  background-image: none;
  box-shadow: 1vh 1vw 1vh 1vh #474444;
}
#assurances div:hover p {
  text-decoration: underline;
  opacity: 1;
}

.banner {
  background: url("../img/banner.png");
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.banner h1 {
  font-size: 6vw;
  margin-top: 7vh;
  margin-left: 3.5vw;
}

#about {
  width: 80vw;
  margin: auto;
  margin-top: 5vh;
  background: #ffffff;
  padding: 4vh 4vw;
  border: 0.3vh #c0b0b1 solid;
  border-radius: 2vw;
  color: #474444;
}

footer {
  width: 100vw;
  height: auto;
  position: sticky;
  top: 0;
  border-top: 0.3vw #ffffff solid;
  background: #474444;
  padding: 2vw;
}
footer p {
  color: #e0ced0;
  font-size: 1vw;
}
footer p a {
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s all;
}
footer p a:hover {
  color: #c0b0b1;
  transition: 0.1s all;
  text-decoration: underline;
}

body {
  background: #e0ced0;
}

body::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=style.css.map */
