.banner {
  background: url('../img/banner.png');
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

  h1 {
    font-size: 6vw;
    margin-top: 7vh;
    margin-left: 3.5vw;
  }
}
