.banner {
  background-image: url('../img/banner.jpeg');
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 4vw;
  margin: 3vw;
  color: $black;
}
