header {
  width: 100vw;
  height: auto;
  position: sticky;
  top: 0;
  border-bottom: 0.3vw $black solid;
  background: $white;

  div,
  nav {
    display: inline-block;
    margin-top: 2vh;
    margin-bottom: 2vh;

    a {
      color: $black;
      text-decoration: none;
      font-size: 2vw;
      margin: 2vw;
      font-weight: bold;
      transition: 0.3s all;

      img {
        height: 6vw;
        width: auto;
      }
    }

    a:hover {
      color: $secondary-color;
      transition: 0.1s all;
      text-decoration: underline;
    }
  }

  nav {
    float: right;
    padding-top: 2.5vh;
  }
}
